.banner {
    width: 100%;
    background-color: $main-green;
    // .container {
        
    // }
}

.home_btn-box {
    // border: gray 2px solid;
    text-align: center;
    min-height: 4rem;
    background-color: white;
    color: black;
    padding: 0.5rem;
    height: 6rem;
    transition: 0.1s ease-in ;
    border-radius: 2rem; 
    border: 2px white solid;
}
.home_btn-box:hover {
    transition: 0.3s ease-in-out ;
    transform: scale(1.05);
    text-decoration: none;
    color: black;
    border: 2px $main-green solid;
    
}

.carousel-cell {
    margin-right: 1.5rem;
    width: 300px;
    height: 170px;
    overflow: hidden;
    border: rgb(255, 255, 255) 5px solid;
    img {
        object-fit: cover;
        width: 300px;
        height: 170px;
    }
    p {
        overflow: visible;
    }
  }


  