.regis_box {
    width: 100%;
    height: 150px;
    // background-color: white;
    
}
.regis_box-link {
    text-decoration: none;
    color: black;
}
.regis_box-link :hover {
    text-decoration: none;
    color: black;
}